.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.description {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.85rem;
  font-family: var(--font-mono);
  width: 600px;
}

.button {
  width: 100px;
  height: 40px;
  margin: 20px;
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.description h1 {
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.button {
  justify-content: center;
  align-items: center;
}
.description input {
  position: relative;
  height: 40px;
  width:100%;
  
}

